:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  width: 180px;
  padding: 1em;
  font-family: system-ui;
  text-align: center;
}

#text-input,
#tag-input,
#save-button,
#template-function-input,
#details,
#reset-button,
#graph-url-input {
  display: block;
  width: 100%;
  /* border: 0; */
  margin-bottom: 1em;
}

#details {
  font-size: smaller;
}

#status {
  font-size: small;
}

#template-function-input {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  font-family: monospace;
}

#fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}
