:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body {
  width: 150px;
  padding: 1em;
  font-family: system-ui;
  text-align: center;
}

#text-input,
#tag-input,
#save-button {
  display: block;
  width: 100%;
  /* border: 0; */
  margin-bottom: 1em;
}

#status {
  font-size: small;
}

#fieldset {
    margin: 0;
    padding: 0;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}
